<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Restaurantes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-td1P3M4dBCPxdP2lsfs1v47hz3rhztnEu+Fb7hxwMaWUQggILRnUkO9oXu8ccdp9nxWmfUKbHwE6RnXJ7UEKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Scripts al final del body -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0 fixed-top">
        <% if (typeof userRole !== null) { %> <!-- Mostrar el mensaje si existe -->
            <% if (userRole === 'cliente') { %> <!-- Mostrar solo el módulo de reservas si el role es "cliente" -->
                <a href="/users/homeUsers" class="navbar-brand">Sistema Restaurantes</a>
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <% } else if(userRole === 'restaurante'){ %> <!-- Agregar más condiciones elseif si es necesario -->
                <a href="/users/homeRestaurantes" class="navbar-brand">Sistema Restaurantes</a>
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <% }else { %> <!-- Mostrar ambos elementos si el role no es "cliente" -->
                <a href="/" class="navbar-brand">Sistema Restaurantes</a>
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <% } %> 
        <% }%> 
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto"> <!-- Utilizamos ml-auto para alinear a la derecha -->
                <% if (typeof userRole !== null) { %> <!-- Mostrar el mensaje si existe -->
                    <% if (userRole === 'cliente') { %> <!-- Mostrar solo el módulo de reservas si el role es "cliente" -->
                        <li class="nav-item active">
                            <a class="nav-link" href="/reservas/obtener/">Modulo Reservas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/logout">Cerrar sesión <span class="sr-only">(current)</span></a>
                        </li>
                    <% } else if(userRole === 'restaurante'){ %> <!-- Agregar más condiciones elseif si es necesario -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/restaurantes/obtener/">Modulo Restaurantes <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/reservas">Modulo Reservas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/logout">Cerrar sesión <span class="sr-only">(current)</span></a>
                        </li>
                    <% }else if(userRole === 'administrador'){ %> <!-- Agregar más condiciones elseif si es necesario -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/restaurantes/obtener/">Modulo Restaurantes <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/reservas">Modulo Reservas <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/logout">Cerrar sesión <span class="sr-only">(current)</span></a>
                        </li>
                    <% }
                    else { %> <!-- Mostrar ambos elementos si el role no es "cliente" -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/login">Iniciar sesión <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/registro">Registrarse <span class="sr-only">(current)</span></a>
                    </li>                        
                <% } %> 
                <% }%> 
            </ul>
            
            
        </div>
    </nav>

</html>
