
<head>
    <!-- Estilos para el footer -->
    <style>
        footer {
            position: relative;
            margin-bottom: 0px;
            width: 100%;
            /* Agrega aquí estilos adicionales para el footer */
            background-color: #343a40;
            color: #ffffff;
        }

        footer .container {
            padding: 20px 0;
        }

        footer h5 {
            font-size: 18px;
            font-weight: bold;
        }

        footer p {
            font-size: 14px;
            margin-bottom: 5px;
        }

        footer ul {
            list-style: none;
            padding: 0;
        }

        footer ul li {
            margin-bottom: 5px;
        }

        footer ul li a {
            color: #ffffff;
            text-decoration: none;
        }

        footer ul li a:hover {
            text-decoration: underline;
        }
    </style>
</head>
    <!-- Contenido principal -->
    <div class="main-content">
        <!-- Aquí va el contenido de tu página -->
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <!-- Contenido del footer -->
            <div class="row">
                <div class="col-md-4">
                    <h5>Información de contacto</h5>
                    <p>Dirección: Calle Principal 123, Ciudad</p>
                    <p>Teléfono: (123) 456-7890</p>
                    <p>Email: info@example.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#menu">Menú</a></li>
                        <li><a href="#nosotros">Sobre nosotros</a></li>
                        <li><a href="#reservas">Reservas</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Síguenos en redes sociales</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
