<%- include ./layouts/cabecera.ejs %>
<br/>
<style>
    /* Estilos para que la sección ocupe el alto completo usando Flexbox */
    .full-height-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
      background-color: #f2f2f2;
    }
  
    /* Estilos para que la sección ocupe el alto completo usando CSS Grid */
    .full-height-grid {
      display: grid;
      place-items: center;
      height: 100vh;
      background-color: #e0e0e0;
    }
  </style>

<!-- Sección "Sobre nosotros" -->
<section class="my-5 full-height-flex">
    <h1>Home de Restaurantes</h1>
</section>






<%- include ./layouts/pie.ejs %>

<!-- Scripts al final del body -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
